<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	th:href="@{/bootstrap-4.0.0-dist/css/bootstrap.min.css}">
<!--datetable-->
<link rel="stylesheet"
	th:href="@{/plugins/My97DatePicker/skin/default/datepicker.css}" />
<link rel="stylesheet"
	th:href="@{/plugins/My97DatePicker/skin/WdatePicker.css}" />
<link rel="stylesheet" th:href="@{/css/my.css}" />
<link rel="stylesheet"
	th:href="@{/plugins/kindeditor/themes/default/default.css}" />
<!-- 收藏用logo图标 -->
<link rel="bookmark" type="image/x-icon"
	th:href="@{/img/logozhuoxun.png}" />
<!-- 网站显示页logo图标 -->
<link rel="shortcut icon" th:href="@{/img/logozhuoxun.png}">
</head>
</html>